<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Forgot Password</title>
    <style>
     h1{
        position: relative;
        top: 150px;
        left:70px;
     }
    </style>
</head>
<body>
    <div class="container" id="container">
    
    <div class="form-container sign-in">   
    <h1>Forgot Password</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('forgotpassword') }}" method="POST">
        <label for="email">Enter your email address:</label>
        <input type="email" id="email" name="studentemail" required>
        <button type="submit">Submit</button>
    </form>
</div>

</div>
</body>
</html>
