<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login Page</title>
</head>

    <script>
        window.onload = function() {
            {% if error %}
                alert("{{ error }}");
            {% endif %}
        };
    </script>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
          
                <form action="{{ url_for('login') }}" method="post" onsubmit="return validateForm()">

                <h1>Student Login</h1>
                <div class="social-icons">
                    <a href="https://aec.edu.in/"><img src="../static/Assests/aec logo.png" alt="Aditya" style="width:32px;height:32px;align:center"></a>
                     </div>
                <span>Enlightens The Nescience</span>
                <input type="email" name="studentemail" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <a href="{{url_for('forgotpassword')}}">Forget Your Password?</a>
                <button>Login</button>

            </form>
        </div>


        <div class="form-container sign-in">
           
                <form action="{{ url_for('login') }}" method="post" onsubmit="return validateForm()">


                <h1>Management Login</h1>
                <div class="social-icons">
                    <a href="https://aec.edu.in/"><img src="../static/Assests/aec logo.png" alt="Aditya"         style="width:32px;height:32px;align:center"></a>
                    
                </div>
                <span> Enlightens The Nescience</span>
                <input type="email" placeholder="Email" name="studentemail">
                <input type="password" placeholder="Password" name="password">
                
                <button>Login</button>

            </form>
        </div>


        <div class="toggle-container">

            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Management Login</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1> Welcome!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Student Login</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const container = document.getElementById('container');
const registerBtn = document.getElementById('register');
const loginBtn = document.getElementById('login');

registerBtn.addEventListener('click', () => {
    container.classList.add("active");
});

loginBtn.addEventListener('click', () => {
    container.classList.remove("active");
});
    </script>
</body>

</html>