<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Others</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../static/css/tables.css" rel="stylesheet" />
  </head>
  
  <body>
  
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item active">
                      <a class="nav-link" style="margin-left: 5px;" href="{{url_for('profile')}}">Profile</a>
                    </li>
                  <li class="nav-item active">
                      <a class="nav-link" style="margin-left: 5px;" href="{{url_for('allfoodviewfood')}}">Foodmenu</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" style="margin-left: 5px;" href="{{url_for('pay')}}">Payment</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" style="margin-left: 5px;" href="{{url_for('viewalocationstudent')}}">Room</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" style="margin-left: 5px;" href="{{url_for('outpass')}}">Outpass</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" style="margin-left: 5px;" href="{{url_for('raisecomplaint')}}">Complaints</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" style="margin-left: 5px;" href="{{url_for('feedback')}}">Feedback</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" style="margin-left: 5px;" href="{{url_for('otherdeatils')}}">Other</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" style="margin-left: 5px;" href="/"> Logout</a>
                    </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
  
      <div class="container">
        <center>
            <h2 style="position:relative;top:100px;">Other Details</h2>
            <div class="row gx-5 gy-5  d-flex flex-wrap" style="position:relative;top:120px;">
              <div class="col">
                <div class="card" style="height:400px;color: #FF4500;">
                                <img src="/static/images/gym.jpeg" alt="GYM details" height="250px"/>
                            
                            <div class="card-body text-dark">
                                <h5>GYM details</h5>
                                <p>The gym timings are from 5-8 on mornings and evenings </p>
                                <p>In case of any damage in Gym equipment, the one who made is responsible. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                      <div class="card" style="height:400px;color: #FF4500;">
                                <img src="/static/images/libary.jpg" alt="Library Timings" height="250px" />
                            
                            <div class="card-body text-dark">
                                <h5>Library Timings</h5>
                                <p>Morning: 5:30 AM to 10:30 PM</p>
                                <p>Students are not allowed to use their mobiles </p>
                              
                               
                            </div>
                        </div>
                    </div>
                    </div>
                  </center>
            </div>
        

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
          </body>

</html>