<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/css/addstudents.css">
<title>Forms</title>
</head>
<body>

    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" style="margin-left: 5px;" href="{{url_for('profile')}}">Profile</a>
                      </li>
                    <li class="nav-item active">
                        <a class="nav-link" style="margin-left: 5px;" href="{{url_for('viewfood')}}">Food Menu</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" style="margin-left: 5px;" href="{{url_for('pay')}}">Payment</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" style="margin-left: 5px;" href="{{url_for('feedback')}}">FeedBack</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" style="margin-left: 5px;" href="{{url_for('raisecomplaint')}}">Complaints</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" style="margin-left: 5px;" href="{{url_for('outpass')}}">Outpass</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" style="margin-left: 5px;" href="{{url_for('otherdeatils')}}">Other</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" style="margin-left: 5px;" href="/"> Logout</a>
                      </li>
                </ul>
              </div>
            </div>
          </nav>
        </header>

<div class="Container" style="top:30px;">
  <form action="{{ url_for('paymentback') }}"  class="main_form" method="post" enctype="multipart/form-data">
    <div class="top_section">
<h2>PAYMENT</h2>
</div>
<div class="content">
  <input type="text"   placeholder="Enter" name="id" value="{{id}}"  hidden/> 
  <div class="input-box">
      <label for="name"></label>
          <input type="text"   placeholder="Enter Rollno" value="{{data[0][1]}}" name="Rollno" aria-label=" Name" readonly/>
  </div>
  <div class="input-box">
      <label for="name"></label>
        <input type="text" placeholder="Enter name" value="{{data[0][2]}}" name="studentname" aria-label="Email" readonly/>
  </div>
  <div class="input-box">
    <label for="name"></label>
    <input type="text" placeholder="Enter email" value="{{data[0][3]}}"  name="studentemail"   aria-label="Email" readonly/>
  </div>
  <div class="input-box">
    <label for="name"></label>
      <input type="text" placeholder="Enter branch"  value="{{data[0][4]}}" name="hostelfee" aria-label="hostelfee" readonly/>
  </div>
  <div class="input-box">
    <label for="name"></label>
      <input type="text" placeholder="Enter email" value="{{data[0][5]}}"  name="currentbill"   aria-label="currentbill" readonly/>
  </div>

  <div class="input-box">
    <label for="name"></label>
      <input type="text"placeholder="Enter branch"  value="{{data[0][6]}}" name="totalamount" aria-label="totalamount" readonly/>
  </div>
              
  <div class="input-box">
    <label for="name"></label>
      <input type="text" placeholder="Enter Bank Name"
                                              name="cardname"  aria-label="branch" required/>
  </div>
              
              <div class="input-box">
                <label for="name"></label>
                <input type="text" placeholder="Enter bank number"
                                              name="cardnumber"  pattern=[0-9]{16}
                                              title="Enter 16 digits numbers" aria-label="Contact Number" required/>
                </div>
              
              <div class="input-box">
                <input type="text" placeholder="Enter CVV number"
                                              name="cvv"  pattern=[0-9]{3}
                                              title="Enter 3 cvv digit numbers" aria-label="Contact Number" required/>
              </div>
              <div class="input-box">
                <input type="text" class="form-control" placeholder="Expery month" name="expmonth" aria-label=" Parent Contact Number" required/>
              </div>
              


<div class="btn_box">
<button type="submit">PAY {{data[0][6]}}</button>
</div>                                         
</div>
</div>                                
</div>
</form>
</div>
<script>
  function validateDate() {
    var currentDate = new Date();
    var selectedDate = new Date(document.getElementById("myDateInput").value);
    if (selectedDate < currentDate) {
      alert("Please select a future date.");
      document.getElementById("myDateInput").value = ""; // Clear the input field
    }
  else if (selectedDate > currentDate.setDate(currentDate.getDate() + 1)){
    alert("Please select only one day after to the current date.");
    document.getElementById("myDateInput").value = "";
  }
  }
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>