<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>RaiseAcomplaint</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/addstudents.css">
</head>

<body>

  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('profile')}}">Profile</a>
                  </li>
                <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('allfoodviewfood')}}">foodmenu</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('pay')}}">Payment</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('viewalocationstudent')}}">Room</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('outpass')}}">Outpass</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('raisecomplaint')}}">Complaints</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('feedback')}}">Feedback</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('otherdeatils')}}">Other</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="/"> Logout</a>
                  </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

        <div class="Container" style="top:30px;">
<form action="{{ url_for('raisecomplaint') }}" method="post" enctype="multipart/form-data">
    <div class="top_section">
<h2 style="padding-top:10px;">Complaint</h2>
</div>
<div class="content">
 <div class="selection">
<label for="name"></label>
<select name="complaint" id="complaint">
<option selected>Complaint Type</option>
<option value="electricity">Electricity</option>
<option value="water-problem">Water Problem</option>
<option value="cleaning">Cleaning</option>
<option value="carpenter">Carpenter</option>
<option value="wi-fi">Wi-Fi Issues</option>
<option value="Food">Food</option>
</select>
</div>


<div class="input-box">
  <label for="name"></label>
  <input type="text" placeholder="Description" name="description" required>
  </div>


    
    <div class="selection">
      <input type="file" class="form-control" name="myfile" aria-label="profile" required/>
      </div>
            <div class="input-box">
                <label for="name"></label>
                <input type="text" placeholder="Enter Room Number" name="roomnumber" required>
                </div>
                <button type="submit" onclick="location.href='{{url_for('viewraisedcomplaints')}}'" class="btn btn-primary" style="background-color:orange;">view raised complaints</button>


<div class="btn_box">
<button type="submit">Raise Complaint</button>
</div>                                         
                                       
</div>
</form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>