<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Outpass</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../static/css/tables.css" rel="stylesheet" />
</head>

<body>

  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('students')}}">Students</a>
                  </li>
                <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('blocks')}}">Blocks</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('foodmenu')}}">Food Menu</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('allocation')}}">Allocation</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('viewfeedback')}}">Feedback</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('viewcomplaints')}}">Complaints</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('viewoutpass')}}">Outpass</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="/"> Logout</a>
                  </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

<div styles="overflow:overflow">
        <center>
            <h2 class="section-title bg-white text-center text-primary px-3" style="position:relative;top:90px;">
               Outpass Requests
            </h2>
          </center>
        
          <div class="tab" style="margin:20px; overflow-x:visible;position:relative;top:90px;">
          <table class="table table-dark table-striped" >
            <thead>
                <tr style="color:rgb(235, 231, 231)">
                    <!--<th>ID</th>-->
                    <th>Student Email</th>
                    <th>Out Date</th>
                    <th>Out timing</th>
                    <th>Reason</th>
                    <th>Room Number</th>
                    <th>Parent Number</th>
                    <th>Destination</th>
                    <th>Status</th>  
                </tr>
            </thead>
            <tbody>
                {% for i in data.iterrows() %}
                <tr style="color:rgb(235, 232, 232)">
                    <!--<td>{{ i[1].id }}</td>-->
                    <td style='
                    width: 300px;
                '>{{ i[1]. studentemail  }}</td>
                    <td>{{ i[1]. outdate  }}</td>
                    <td>{{ i[1]. outtime }}</td>
                    <td>{{ i[1]. reason }}</td>
                    <td>{{ i[1]. roomnumber}}</td>
                    <td>{{ i[1]. pcontact }}</td>
                    <td>{{ i[1]. destination}}</td>
                    
                    <td id="status-{{ i[1].id }}">
                      {% if i[1].status == 'pending' %}
                          <button type="button" class="btn btn-dark" onclick="location.href='{{url_for('accept', id=i[1].id )}}'">APPROVE</button>/
                          <button type="button" class="btn btn-dark" onclick="location.href='{{url_for('rejected', id=i[1].id )}}'">REJECT</button>
                      {% elif i[1].status == 'Approve' %}
                          Accepted
                      {% elif i[1].status == 'Rejected' %}
                          Rejected
                      {% endif %}
                  </td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
          </div>
        </div>
      
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>