<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>View Food</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../static/css/tables.css" rel="stylesheet" />
</head>

<body>
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('students')}}">Students</a>
                  </li>
                <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('blocks')}}">Blocks</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('foodmenu')}}">Food Menu</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('allocation')}}">Allocation</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('viewfeedback')}}">Feedback</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('viewcomplaints')}}">Complaints</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="{{url_for('viewoutpass')}}">Outpass</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" style="margin-left: 5px;" href="/"> Logout</a>
                  </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <div class="container">
      <center>
          <h2 style="position:relative;top:100px;">View Food</h2>
          
          <div class="row gx-5 gy-5  d-flex flex-wrap" style="position:relative;top:110px;">
            <select id="foodTypeDropdown" class="form-select">
              <option value="all">All Food Types</option>
              <option value="1">Tiffin</option>
              <option value="2">Lunch</option>
              <option value="3">Snacks</option>
              <option value="4">Dinner</option>
          </select>
                {% for row in rows %}
                    <div class="col food-card" data-food-type="{{ row[1] }}">
                  
                      <div class="card" style="width: 15rem;height:400px;color: #FF4500;">
                        
                        <img src="../{{row.5}}" class="card-img-top" style="height:180px;" />
                        <div class="card-body text-dark">
                          <h5 class="card-title">{{row.2}}</h5>
                          <p class="card-text"><strong>Food Name:</strong> {{row.3}}</p>
                          <p class="card-text"><strong>About Food:</strong> {{row.4}}</p>
                          <p class="card-text"><strong>Ingredients:</strong> {{row.8}}</p>
                          <button type="button" class="btn btn-dark" onclick="window.location.href='{{ url_for('delete', id=row[0]) }}'">Delete</button>

                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </center>
                </div>
             

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
              </body>
              
              <script>
                document.getElementById('foodTypeDropdown').addEventListener('change', function() {
                    var selectedFoodType = this.value;
                    var cards = document.querySelectorAll('.food-card');
                    cards.forEach(function(card) {
                        if (selectedFoodType === 'all' || card.getAttribute('data-food-type') === selectedFoodType) {
                            card.style.display = 'block';
                        } else {
                            card.style.display = 'none';
                        }
                    });
                });
            </script>
</html>